header, footer 
{
display: flex;
flex-direction: row;
  position: absolute;
}

@media (min-width:400px)
{  
  
}

.nav-link{
  color: #000000;
  text-align: center;
  text-decoration: none;
}
body{
  margin:0;
}
.video{
  display:absolute;
  margin-top: 150px;
}

#nav-bar{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
#header-img{
  position: fixed;
  top: 0px;
  left: 0px;
}